/* Container sizes */
$containerMinWidth: 360px;
$containerMaxWidth: 1400px;

/* Breakpoints */
$mobileBreakpoint: 760px;
$smallMobileBreakpoint: 480px;
$tabletBreakpoint: 1120px;

/* NEW COLORS */
$white: #EBEEF2;
$brown: #694E45;
$lightBrown: #A69992;
$extraLightBrown: #BFB2AA;
$black: #0D0000;
$error: #BE3D00;
$formError: #DB1F26;

/* Spacing */
$spacing-xxxs: 1px;
$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-xm: 12px;
$spacing-m: 16px;
$spacing-l: 32px;
$spacing-xl: 64px;
$spacing-xxl: 128px;
$typePageContentPadding: 48px;

/* Font Sizes */
$fontSize-0: 0.833rem;
$fontSize-0-and-half: 0.91rem;
$fontSize-1: 1rem;
$fontSize-1-and-half: 1.11rem;
$fontSize-2: 1.22rem;
$fontSize-2-and-half: 1.32rem;
$fontSize-3: 1.44rem;
$fontSize-3-and-half: 1.60rem;
$fontSize-4: 1.728rem;
$fontSize-4-and-half: 1.88rem;
$fontSize-5: 2.074rem;
$fontSize-5-and-half: 2.2rem;
$fontSize-6: 2.488rem;
$fontSize-6-and-half: 2.64rem;
$fontSize-7: 2.986rem;

// FONTS
$quickSandBold: "Quicksand Bold";
$quickSandSemiBold: "Quicksand SemiBold";
$quickSandRegular: "Quicksand Regular";
$quickSandMedium: "Quicksand Medium";
$quickSandLight: "Quicksand Light";

@mixin mobile {
  @media (max-width: #{$mobileBreakpoint}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tabletBreakpoint}) {
    @content;
  }
}

@mixin smallMobile {
  @media (max-width: #{$smallMobileBreakpoint}) {
    @content;
  }
}
