@import "variables";

.container {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  * {
    z-index: 994;
  }
}

.content {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;
  padding: 60px 100px;
  z-index: 901;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.title {
  margin: 10px 0;
  color: $black;
  font-size: 60px;
  font-family: "Josefin Sans Bold", sans-serif;
  transition: all .6s ease-in-out;
}

.paragraph {
  color: $black;
  font-size: 22px;
  text-align: center;
  font-family: $quickSandLight, sans-serif;
  transition: all .6s ease-in-out;
}

.bgImageContainer {
  position: absolute;
  width: 50vw;
  left: 0;
  z-index: 900;
  overflow: hidden;
}

.bgImage {
  * {
    width: 100vw;
    min-height: 100vh;
  }
}

@include tablet {
  .container {
    flex-direction: column;
    height: fit-content;
  }

  .bgImageContainer {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
  }

  .content {
    width: 90vw;
    background-color: transparent;
    padding: 0;
  }

  .title {
    color: $white;
    font-size: 30px;
  }

  .paragraph {
    color: $white;
    font-size: 18px;
    text-align: justify;
  }
}

@include mobile {
  .content {
    width: 95vw;
  }

  .title {
    font-size: 26px;
  }

  .paragraph {
    font-size: 16px;
  }
}