@import "variables";

.container {
  width: auto;
  height: auto;
}

.main {
  width: auto;
  height: auto;
}

@include mobile {
  .container {
    background: white;
  }
}

@include tablet {
  .main {
    width: 100vw;
  }
}