@import "variables";

.container {
  background: white;
  background-size: 14.28%;
  background-position-x: -8.4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  overflow-x: hidden;
  width: $containerMaxWidth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@include mobile {
  .container {
    background: white;
  }
}

@include tablet {
  main {
    width: 100vw;
  }
}