@import "variables";

.container {
  height: 100px;
  width: 100vw;
  z-index: 999;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.content {
  width: 1400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linksGroup {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.linkElement {
  width: fit-content;
  padding: 0 20px;
}

.link {
  color: $white;
  font-size: 18px;
  font-family: $quickSandLight, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: $yellow;
  }
}

.homeLink {
  @extend .link;
  padding-left: 20px;
}