/* CSS Custom Properties Definitions */
@import "./typography.scss";
@import "variables";

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.container {
  width: $containerMaxWidth;
  max-width: 100%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}
