/* CSS Custom Properties Definitions */
@import "./typography.scss";
@import "variables";

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $proximaNova;
}

.container {
  width: $containerMaxWidth;
  max-width: 100%;
  margin: 0 auto;
}

a {
  color: $terraCota;
  &:hover {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}
