/* Proxima Nova */

@font-face {
    font-family: "Proxima Nova Black";
    src: url('./fonts/proxima_nova/proxima_nova_black.otf');
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url('./fonts/proxima_nova/proxima_nova_bold.otf');
}
@font-face {
    font-family: "Proxima Nova Light";
    src: url('./fonts/proxima_nova/proxima_nova_light.otf');
}
@font-face {
    font-family: "Proxima Nova Light Italic";
    src: url('./fonts/proxima_nova/proxima_nova_light_italic.otf');
}
@font-face {
    font-family: "Proxima Nova Semibold";
    src: url('./fonts/proxima_nova/proxima_nova_semibold.otf');
}
@font-face {
    font-family: "Proxima Nova Soft";
    src: url('./fonts/proxima_nova/proxima_nova_soft_regular.otf');
}
@font-face {
    font-family: "Proxima Nova Soft Semibold";
    src: url('./fonts/proxima_nova/proxima_nova_soft_semibold.otf');
}
@font-face {
    font-family: "Proxima Nova Thin";
    src: url('./fonts/proxima_nova/proxima_nova_thin.otf');
}
@font-face {
    font-family: "Proxima Nova";
    src: url('./fonts/proxima_nova/proxima_nova_regular.otf');
}

/* Museo */

@font-face {
    font-family: "Museo Light";
    src: url('./fonts/museo/museo_300.otf');
}
@font-face {
    font-family: "Museo";
    src: url('./fonts/museo/museo_500.otf');
}
@font-face {
    font-family: "Museo";
    src: url('./fonts/museo/museo_700.otf');
    font-weight: 700;
}

/* Museo Slab */

@font-face {
    font-family: "Museo Slab Light";
    src: url('./fonts/museo/museo_slab_300.otf');
}
@font-face {
    font-family: "Museo Slab";
    src: url('./fonts/museo/museo_slab_500.otf');
}
@font-face {
    font-family: "Museo Slab Bold";
    src: url('./fonts/museo/museo_slab_900.otf');
}

/* Josefin Sans */
@font-face {
    font-family: "Josefin Sans Bold";
    src: url('./fonts/josefin-sans/josefinSans-Bold.ttf');
}
@font-face {
    font-family: "Josefin Sans Extra Light";
    src: url('./fonts/josefin-sans/josefinSans-ExtraLight.ttf');
}
@font-face {
    font-family: "Josefin Sans Light";
    src: url('./fonts/josefin-sans/josefinSans-Light.ttf');
}
@font-face {
    font-family: "Josefin Sans Medium";
    src: url('./fonts/josefin-sans/josefinSans-Medium.ttf');
}
@font-face {
    font-family: "Josefin Sans Regular";
    src: url('./fonts/josefin-sans/josefinSans-Regular.ttf');
}
@font-face {
    font-family: "Josefin Sans SemiBold";
    src: url('./fonts/josefin-sans/josefinSans-SemiBold.ttf');
}
@font-face {
    font-family: "Josefin Sans Thin";
    src: url('./fonts/josefin-sans/josefinSans-Thin.ttf');
}

/* Josefin Slab */

@font-face {
    font-family: "Josefin Slab ";
    src: url('./fonts/josefin-slab/josefinSlab-Bold.ttf');
}
@font-face {
    font-family: "Josefin Slab ExtraLight";
    src: url('./fonts/josefin-slab/josefinSlab-ExtraLight.ttf');
}
@font-face {
    font-family: "Josefin Slab Light";
    src: url('./fonts/josefin-slab/josefinSlab-Light.ttf');
}
@font-face {
    font-family: "Josefin Slab Medium";
    src: url('./fonts/josefin-slab/josefinSlab-Medium.ttf');
}
@font-face {
    font-family: "Josefin Slab Regular";
    src: url('./fonts/josefin-slab/josefinSlab-Regular.ttf');
}
@font-face {
    font-family: "Josefin Slab SemiBold";
    src: url('./fonts/josefin-slab/josefinSlab-SemiBold.ttf');
}
@font-face {
    font-family: "Josefin Slab Thin";
    src: url('./fonts/josefin-slab/josefinSlab-Thin.ttf');
}

/* Quicksand */

@font-face {
    font-family: "Quicksand Bold";
    src: url('./fonts/quicksand/Quicksand-Bold.ttf');
}
@font-face {
    font-family: "Quicksand Light";
    src: url('./fonts/quicksand/Quicksand-Light.ttf');
}
@font-face {
    font-family: "Quicksand Medium";
    src: url('./fonts/quicksand/Quicksand-Medium.ttf');
}
@font-face {
    font-family: "Quicksand Regular";
    src: url('./fonts/quicksand/Quicksand-Regular.ttf');
}
@font-face {
    font-family: "Quicksand SemiBold";
    src: url('./fonts/quicksand/Quicksand-SemiBold.ttf');
}