@import "variables";

.container {
  width: 90vw;
  height: fit-content;
  z-index: 981;
}
.logoContainer {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 993;
  transition: all 1s ease-in-out;
}

.logo {
  width: 46.87vw !important;
  height: 23.43vw !important;

  * {
    width: 46.87vw;
    height: 23.43vw;
  }
}